<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="bootstrap.css" />
    <meta charset="UTF-8" />
    <title>To Do List with Backbone.js</title>
  </head>
  <body>
    <div class="container">
      <h1>To Do List with Backbone.js</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
          <tr>
            <td><input class="form-control task-input" type="text" /></td>
            <td>
              <input class="form-control description-input" type="text" />
            </td>
            <td>
              <select id="options" class="form-control status-input">
                <option value="Todo">Todo</option>
                <option value="Ongoing">Ongoing</option>
                <option value="Completed">Completed</option>
              </select>
            </td>
            <td><button class="btn btn-primary add-blog">Add</button></td>
          </tr>
        </thead>
        <tbody class="blogs-list"></tbody>
      </table>
    </div>

    <script type="text/template" class="blogs-list-template">
      <td><span class="task"><%= task %></span></td>
      <td><span class="description"><%= description %></span></td>
      <td><span class="status"><%= status %></span></td>
      <td><button class="btn btn-warning edit-blog">Edit</button> <button class="btn btn-danger delete-blog">Delete</button><button class="btn btn-success update-blog" style="display:none">Update</button> <button class="btn btn-danger cancel" style="display:none">Cancel</button></td>
    </script>
    <script src="jquery.js"></script>
    <script src="underscore.js"></script>
    <script src="backbone.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>
